<div class="user-list">
  <h1>User Directory</h1>
  <a class="btn btn-primary pull-right" data-toggle="modal" href="#add-user-modal">Add User</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Name</td>
        <td>Phone</td>
        <td>Dept</td>
        <td>Location</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users">
        <td><a href="#/users/{{user._id}}">{{user.name}}</a></td>
        <td>{{user.phone}}</td>
        <td>{{user.dept}}</td>
        <td>{{user.loc}}</td>
      </tr>
    </tbody>
  </table>

  <div class="modal fade" id="add-user-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h2 class="modal-title">Add User</h2>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" ng-model="newuser.name">
            </div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="text" class="form-control" id="phone" ng-model="newuser.phone">
            </div>
            <div class="form-group">
              <label for="dept">Department</label>
              <input type="text" class="form-control" id="dept" ng-model="newuser.dept">
            </div>
            <div class="form-group">
              <label for="loc">Location</label>
              <input type="text" class="form-control" id="loc" ng-model="newuser.loc">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button class="btn btn-success" ng-click="add(newuser)">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>