<div ng-controller="UserDetailController" class="user-detail">
  <form role="form">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" ng-model="user.name">
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" id="phone" ng-model="user.phone">
    </div>
    <div class="form-group">
      <label for="dept">Department</label>
      <input type="text" class="form-control" id="dept" ng-model="user.dept">
    </div>
    <div class="form-group">
      <label for="loc">Location</label>
      <input type="text" class="form-control" id="loc" ng-model="user.loc">
    </div>
    <div class="form-group">
      <button class="form-control btn btn-success" ng-click="update()">Update</button>
    </div>
  </form>
</div>