<div ng-controller="UserDetailController" class="user-detail">
  <h1>Details for: {{user.name}}</h1>
  <div class="alert alert-dismissable fade in" ng-if="message" ng-class="{'alert-success': message.success, 'alert-danger': !message.success}">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{message.text}}
  </div>
  <form role="form">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" ng-model="user.name">
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" id="phone" ng-model="user.phone">
    </div>
    <div class="form-group">
      <label for="dept">Department</label>
      <input type="text" class="form-control" id="dept" ng-model="user.dept">
    </div>
    <div class="form-group">
      <label for="loc">Location</label>
      <input type="text" class="form-control" id="loc" ng-model="user.loc">
    </div>
    <div class="form-group">
      <a class="btn btn-default" href="#/users">Cancel</a>
      <button class="btn btn-success" ng-click="update()">Update</button>
      <button class="btn btn-danger" ng-click="confirm()">Delete</button>
    </div>
  </form>
</div>