<div ng-controller="UserDetailController" class="user-detail">
  <h1>Details for: {{user.name}}</h1>
  <div class="alerts">
    <cw-alert alert="alert" on-close="alerts.splice($index,1)"
              ng-repeat="alert in alerts" class="repeated-item">
    </cw-alert>
  </div>

  <form name="userForm" role="form">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" ng-model="user.name" required>
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" id="phone" ng-model="user.phone" required>
    </div>
    <div class="form-group">
      <label for="dept">Department</label>
      <input type="text" class="form-control" id="dept" ng-model="user.dept" required>
    </div>
    <div class="form-group">
      <label for="loc">Location</label>
      <input type="text" class="form-control" id="loc" ng-model="user.loc" required>
    </div>
    <div class="form-group">
      <a class="btn btn-default" href="#/users">Cancel</a>
      <button class="btn btn-success" ng-click="update()" ng-disabled="userForm.$invalid">Update</button>
      <button class="btn btn-danger" ng-click="confirm()">Delete</button>
    </div>
  </form>
</div>